body {
  font-family: 'Poppins', sans-serif;
}
.main {
  height: 100vh;
}
.thumb {
  width:40%;
  height: 100vh;
  position: fixed;
}

h1 {
  font-size: 66px;
  font-weight: 700;
  color:#000;
}
h2 {
  color:#595858;
  font-size: 25px;
  font-weight: 400;

}
.centerContent {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.centerContent .btn {
  margin: 35px auto;
}
.btn-standard {
  border:2px solid #000;
  border-radius: 0;
  height: 50px;
  padding:0 20px;
  cursor: pointer;
  color:#000;
  transition: .3s;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 218px;
}
.btn-standard:hover {
  color:#fff;
  background: #000;
  outline: none;
}
.btn-standard:focus {
  outline: none;
}

.homeFooter {
  position: absolute;
  bottom:15px;
  width: 100%;
}
.hireMe, .hireMe:hover, .hireMe:active {
  font-size: 20px;
  color:#000;
  font-weight: 700;
  text-decoration: none;
}
.socialIcons {
  display: inline-block;
  list-style: none;
  float: right;
  margin-right: 45px;
}
.socialIcons li {
  float: left;
  padding-left: 10px;
}
.socialIcons a {
  color:#000;
}

.textContainer {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  color: #5c5c5c;
  font-size: 16px;
}
.pt-110 {
  padding-top:110px;
}

.hamburger {
  right: 15px;
  top:15px;
  left: auto;
}
.fat-nav__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fat-nav, .fat-nav.active {
  width: calc(100% + 30px);
  position: relative;
  margin-left: -16px;
  height: 100vh;
  transition:none;
  transform: scale(1)!important;
  background:#fff;
}
.hamburger.active .hamburger__icon:after, .hamburger.active .hamburger__icon:before {
  background-color: #000;
}
.fat-nav li, .fat-nav li a {
  color: #000;
  font-size:20px;
  text-transform: uppercase;
}
.fat-nav li {
  padding:8px;
}
.pages {
  margin-top:40px;
}
.pages h1 {
  font-size: 40px;
}

.pages h2 {
  font-size: 18px;
  margin-bottom:25px;
}

.pages h1, .pages h2, .pages p {
    text-align: left;
}

.about-bottom {
    margin:30px 0;
}
.portfolio {
  cursor: pointer;
}
.portfolio h3{
  position: absolute;
  bottom:0;
  left:25px;
  color:#fff;
  font-size: 18px;
}
.textBlack {
  color:#000!important;
}